/* || GENERAL STYLE */
.hidden {
  display: none;
}


.cookies__boton{

  color: black !important;
  text-decoration: none;
}

.cookies__boton:hover {
  color: black !important;
  text-decoration: underline;
}

.cookies {
  position: fixed; 
  top: 0;
  margin-top: 50px; 
  text-align: center; 
  z-index: 10;

}

.split {
  height: 100vh;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: favorit;
  font-size: 12px;
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.active {
  text-decoration: underline !important;
  pointer-events: none;
}

li a,
li a:hover {
  text-decoration: none;
  color: black !important;
  padding: 0;
  width: 100%;
  height: 49px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: grid;
  border: none;
}

:root {

  --line-width: 0;
  --line-height: 0;
}

ul li::before {
  content: '';
  display: block;
  height: 1px;
  background-color: black;
  width: var(--line-width);

}

a {
  color: blue !important;
  cursor: pointer;
  background-color: white;
  height: auto;
  width: 100%;
}

a:hover {
  color: blue !important;
}

p {
  background-color: white;
  height: auto;
  width: 100%;
  margin-bottom: 0 !important;
}

ul {
  list-style-type: none;
  height: 250px;
}

header nav {

  z-index: 3;
}

.text-right {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: right; /* Alinea el contenido horizontalmente al centro */
  align-items: center; /* Alinea el contenido verticalmente a la derecha */
}


.text-bottom {
  display: flex;
  text-align: start;
  align-items: end;
}

.text-left {
  width: 100%;
  height: 100%;
  text-align: left;
}

.container-test-index {
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  background-color: white;
}

h1 {
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white;
  font-weight: 100;

}

@font-face {
  font-family: "Favorit";
  font-style: light;
  src: url("/Fonts/ABCFavoritMono-Light.woff") format("woff");
}

/* || LEFT SIDE */

.container-index.menu-opened::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: var(--after-height);
  right: 0; 
  bottom: 0;
  background-color: black;
  z-index: 3;
}


.nav-collapse {
  display: grid;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 150px);
  grid-template-rows: max-content max-content max-content;
  top: 0;
}

.nav-collapse-2 {
  display: grid;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  grid-template-rows: 1px 50px 50px 50px;
}

.collapsible-image {
  width: 100%;
  height: 100%;
}

.project-container {
  position: absolute;
  display: grid;
  height: calc(100vh - 50px);
  width: 50%;
  z-index: 10;
  bottom: 0;
  left: 0;
  gap: 1px;
  border-right: 1px solid black;
  grid-template-rows: 50px 1fr 49px;
  border-top: 1px solid black;
  background-color: black;
}

.project-container-top {
  display: grid;
  height: 100%;
  grid-template-columns: 70% 30%;
  background-color: #ffffff;
}

.project-container-mid {
  height: 100%;
  width: 100%;
  background-color: white;
  overflow-y: scroll;
}

.hideBefore::before {
  display: none;
}

/* || RIGHT SIDE */

/* works */
.projects {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  top: -1px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.projects-nav {
  width: 100%;
  height: 51px;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  margin: 0;
  border-bottom: 1px solid black;
  z-index: 3;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
}

.projects-wrap {
  display: grid;
  width: 100%;
  height: calc(100vh - 50px);
  overflow-x: scroll;
  grid-row-start: 2;
  grid-row-end: 3;
}

.project-top {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: black;
  border-top: 1px solid black;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr minmax(50px, max-content);
  gap: 1px;
}

.project-top figcaption {
  display: grid;
  box-sizing: border-box;
  padding: 1.5vh;
  width: 100%;
  height: minmax(50px, max-content);
  background-color: white;
  grid-template-columns: 70% 1fr;
  grid-column-start: 1;
  grid-column-end: 4;
}

.project-grid {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: black;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr minmax(50px, max-content);
  border-top: 1px solid black;
  box-sizing: border-box;
  gap: 1px;
}

.project-grid figcaption {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5vh;
  height: minmax(50px, max-content);
  background-color: white;
  grid-template-columns: 70% 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
}

.project-grid-top {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: black;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  border-top: 1px solid black;
  box-sizing: border-box;
  gap: 1px;
}

.project-grid-top figcaption {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5vh;
  grid-template-columns: 70% 1fr;
  height: minmax(50px, max-content);
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 3;
}

.project-solo {
  display: grid;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  grid-template-rows: 1fr minmax(50px, max-content);
  background-color: black;
  border-top: 1px solid black;
  gap: 1px;
}

.project-solo figcaption {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5vh;
  height: minmax(50px, max-content);
  grid-template-columns: 70% 1fr;
  position: relative;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 2;
}

.project-solo-slider figcaption {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5vh;
  height: minmax(50px, max-content);
  grid-template-columns: 70% 1fr;
  position: relative;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 2;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.project-solo-slider {
  display: grid;
  height: max-content;
  width: 100%;
  overflow: hidden;
  grid-template-rows: 500px minmax(50px, max-content);
  grid-template-columns: 100%;
  background-color: black;
  box-sizing: border-box;
  border-top: 1px solid black;
  gap: 1px;
  transform: translate3d(0, 0, 0);
}


.project-solo-slider figcaption {
  display: grid;
  width: auto;
  background-color: white;
  height: minmax(50px, max-content);
  grid-template-columns: 1fr 1fr;
}

.slide-track .slide {
  min-height: 500px;
  min-width: 500px;
}

.slide-track .slide svg {
  width: 100%;
}

.slide-track {
  display: flex;
  margin: 0 auto;
  min-height: auto;
  width: calc(500px * 6);
  -webkit-animation: moveSlideshow 60s linear infinite;
  animation: moveSlideshow 60s linear infinite;
}

@keyframes moveSlideshow {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-500px * 4));
    -webkit-transform: translateX(calc(-500px * 4));
  }
}

.image-container {
  min-width: 100px;
  min-height: 350px;
  background-image: url("/images/jhon-boy-illustration-red-cross-tenerife-mural-aids-2-1000-by-750.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image-container-2 {
  min-width: 100px;
  min-height: 350px;
  background-image: url("/images/jhon-boy-illustration-red-cross-tenerife-mural-aids-1000-by-750.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flourly {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.slider {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr;
  grid-column-start: 1; 
  grid-column-end: 3; 
  gap:2%; 
  padding: 2%;

}

.sketches {
  display: grid; 
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-column-start: 1; 
  grid-column-end: 3; 
  padding-top: 1.5vh; 
  padding-bottom: 1.5vh;

}

/* about */

.about {
  height: 100%;
  width: 100%;
  display: grid;
  position: absolute;
  grid-template-columns: 55% 45%;
  grid-template-rows: 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.about-column-2 {
  position: relative;
  display: grid;
  box-sizing: border-box;
  overflow-y: scroll;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 2% 5% 10% 5%;
}

.about-column-1 {
  position: relative;
  display: grid;
  grid-column: 1fr;
  grid-row: 33vh 33vh 33vh;
  box-sizing: border-box;
  border-right: 1px solid black;
  width: 100%;
  height: auto;
  padding: 2% 5% 2% 5%;

}

section address {
  display: flex;
  align-items: center;
  margin: 0;
  font-style: normal;
}

.container-portrait {
  width: fit-content;
  display: flex;
  position: relative;
  width: 100%;
  height: max-content;
  overflow: hidden; /* Asegura que el contenido que desborde del contenedor sea ocultado */
  align-items: center;
  justify-content: center;
  padding: 5% 0 5% 0;
}

.portrait {
  max-width: 90%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  margin: 0 auto; /* Centra la imagen horizontalmente dentro del contenedor */

}

/* index */
.container-index {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 50px calc(100% - 300px) 50px 50px 50px 50px 50px;
}

/* || 404 || */

* {
  margin: 0;
  padding: 0;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media screen and (min-width: 2000px) {
  .image-container {
    min-width: 100px;
    min-height: 1000px;
    background-image: url("/images/jhon-boy-illustration-red-cross-tenerife-mural-aids-2-1000-by-750.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image-container-2 {
    min-width: 100px;
    min-height: 1000px;
    background-image: url("/images/jhon-boy-illustration-red-cross-tenerife-mural-aids-1000-by-750.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 900px) {
  /* || MOBILE GENERAL STYLE */

  .mobile-nav {
    position: fixed;
    display: grid;
    width: 100%;
    height: 50px;
    bottom: 0;
    z-index: 3;
    background-color: black;
    border-top: 1px solid black;
    padding: 0;
    margin: 0;
  }

  .mobile-nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px;
    gap: 1px;
  }

  .split.right {
    width: 100%;
    height: 100%;
  }

  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px 50px;
    height: 100dvh;
  }

  .projects nav {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 50px;
  }

  .projects nav ul {
    height: 51px;
  }

  body {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  /* || MOBILE WORKS */

  .projects-wrap {
    position: absolute;
    grid-row-start: 1;
    grid-row-end: 2;
    border-top: 0px;
    height: 100%;
  }

  .projects-nav {
    position: relative;
    grid-row-start: 2;
    grid-row-end: 3;
    border-top: 1px solid black;
    height: 50px;
    z-index: 2;
    margin: 0;
  }

  .right {
    position: relative;
    grid-template-columns: 1fr;
    width: 100%;
    height: calc(100vh - 50px);
  }

  .image-container {
    min-width: 10px;
    min-height: 250px;
    background-image: url("/images/jhon-boy-illustration-red-cross-tenerife-mural-aids-2-1000-by-750.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image-container-2 {
    min-width: 10px;
    min-height: 250px;
    background-image: url("/images/jhon-boy-illustration-red-cross-tenerife-mural-aids-1000-by-750.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .flourly {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .flourly p {
    
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .project-top {
    border-top: none;
  }

  .slider {
    scroll-snap-type: x mandatory;	
    display: flex;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x: none;
    height: max-content;

  }

  .counter {

    align-self: center;
  }

  .slider::-webkit-scrollbar {
    display: none;
  }
  
  .slider div {
    min-width: 100vw;
    height: calc(100vh - 200px);
    scroll-snap-align: center;
    align-content: center;
    position: relative;
  }

  .sketches {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr;
    grid-column-start: 1; 
    grid-column-end: 2; 
    padding-top: 1.5vh; 
    padding-bottom: 1.5vh;
  
  }

  .project-container {
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
    z-index: 5;
    top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px, max-content) 1fr 50px;
    overflow: hidden;
    background-color: black;
    gap: 1px;
    border-top: 0px solid black;
    border-right: 0px;
  }

  .project-container-top {
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    background-color: #ffffff;
  }

  /* || MOBILE ABOUT */

  .about {
    height: 100%;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
  }

  .portrait {
    display: absolute;
    text-align: center;
    padding: 12%;
    border-bottom: 1px solid black;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .about-column-1 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 33vh 33vh 33vh;    
    box-sizing: border-box;
    border-right: 0px;
    width: 100%;
    height: calc(100vh - 50px);
   }

  .about-column-2 {
    position: relative;
    display: grid;
    box-sizing: border-box;
    overflow-y: visible;
    width: 100%;
    height: max-content;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    padding-bottom: 50px;
  }

  .text-bottom {

    display: flex;
    text-align: center;
    align-items: center;

  }

  .signature{

    border-top: 1px solid black;
    padding-top: 15%;
    padding-bottom: 15%;

  }

  .description{

    padding-bottom: 15%;

  }

  .container-portrait:hover .portrait {
    display: grid;
  }
  
  .container-portrait:hover .portrait-2 {
    display: none;
  }

  .about-column-2, .about-column-1 p{
    text-align: center;
  }

}