---
import { Image } from 'astro:assets';
import LottieAnimation from "astro-integration-lottie/Lottie.astro";


import illustrationFrama2 from '../../images/jhon-boy-illustration-frama-tnwc-2.webp';
import illustrationFrama3 from '../../images/jhon-boy-illustration-frama-tnwc-3.webp';
import illustrationFrama4 from '../../images/jhon-boy-illustration-frama-tnwc-4.webp';
---
 
<section class="project-container" id="frama-container">
  <div class="project-container-top">
    <p class="text-left">BRANDING, ANIMATION, PRODUCT DESIGN</p>
    <p class="text-right">◷ 1 MIN READ</p>
  </div>
  <div class="project-container-mid frama">
    <!-- SEO Optimized Heading Structure -->
    <h1>DO YOU LIKE WINE?</h1>
    <p>
      This project represents the inaugural entry in the Personal Canvas series, a collaboration between 
      <a href="https://framacph.com" style="padding: 0;" target="_blank" rel="noopener">Frama</a> and 
      <a href="https://thenaturalwinecompany.com" style="padding: 0;" target="_blank" rel="noopener">The Natural Wine Company</a>.
      As an artist, I crafted the playful illustration featured on a limited-edition kitchen towel, designed to complement 
      natural wine aesthetics. Drawing inspiration from Bacco, my artwork reflects the earthy terracottas and vibrant 
      greens of the natural landscape, infusing each piece with the spirit of traditional winemaking.
    </p>

    <!-- Animation with descriptive alt text for SEO -->
    <div class="lottie-container lazy-lottie" style="grid-column-start: 1; grid-column-end: 2; height: 100%; aspect-ratio: 12 / 9">
      <LottieAnimation
      src="/animations/frama-animation.json"
      autoplay="visible"
    />
    </div>

    <h2>PROCESS</h2>
    <p>
      To add a dynamic touch to the static illustration, I incorporated subtle animation that introduces gentle movement, 
      enhancing the visual impact without altering the narrative. This animation serves as a complementary action, adding a 
      layer of engagement and emphasizing the natural elements depicted in the artwork.
    </p>
    <p>
      The Personal Canvas series seeks to uncover and celebrate the intricate craft behind natural winemaking, highlighting 
      the sustainable practices integral to this artisanal industry. By integrating traditional crafts such as weaving, 
      glass-blowing, and winemaking, the project emphasizes the deep connection between human hands and heritage, bridging 
      art with the innovative practices of natural wine production. The illustration and its animated extension serve not only 
      as decorative art but also as a testament to the fusion of heritage and contemporary craftsmanship in natural winemaking.
    </p>
    <a href="https://framacph.com/collections/towels/products/frama-the-natural-wine-company-kitchen-towel" 
      style="padding: 0 1em 1em 1em;" target="_blank" rel="noopener">Buy the towel</a

    <!-- SEO Optimized Images with appropriate alt descriptions -->
    <Image class="lazy-image" src={illustrationFrama2} width={1200} height={960} 
    alt="Wine ceramic barrel with the Jhon Boy Frama towel" />

    <Image class="lazy-image" src={illustrationFrama3} width={1400} height={1750} 
    alt="Person holding the Jhon Boy Frama towel" />
    
    <Image class="lazy-image" src={illustrationFrama4} width={1200} height={960} 
    alt="Table in the kitchen with the Jhon Boy Frama towel hanging in the back" />

     <!-- Project Links -->
     <section class="project-credits" aria-labelledby="project-links">
      <h2 id="project-links">CREDITS</h2>
      <ul>
        <li>
          <h3>ART AND CREATIVE DIRECTION</h3>
          <a href="https://www.instagram.com/valeriestt/" target="_blank" rel="noopener">Valerie Steenhaut</a>
          <a href="https://www.instagram.com/al.fr.edo.lo.pez/" target="_blank" rel="noopener">Alfredo López</a>
        </li>
        <li>
          <h3>PRODUCT DESIGN</h3>
          <a href="https://framacph.com" target="_blank" rel="noopener">Frama</a>
        </li>
        <li>
          <h3>CREATIVITY</h3>
          <a href="https://www.maria-elba.com" target="_blank" rel="noopener">María-Elba García</a>
        </li>
        <li>
          <h3>ANIMATION</h3>
          <a href="https://www.instagram.com/rjgrullon/" target="_blank" rel="noopener">Rafael Grullón</a>
        </li>
        <li>
          <h3>PHOTOGRAPHY</h3>
          <a href="http://www.migueltriano.com" target="_blank" rel="noopener">Miguel Triano</a>
        </li>
      </ul>
    </section> 
</div>
  <div class="project-container-bot">
    <a id="framaCloseLink" href="/works?from=details">CLOSE PROJECT</a>
  </div>
</section>
