@keyframes slideUpWorks {
  to {
    bottom: calc(100vh - 50px);
  }
}

@keyframes animateLines {
  to {
    width: 100%;
  }
}

@keyframes slideUpWorksRepeat {
  to {
    top: var(--slide-up-works-repeat-to);
  }
}

@keyframes slideUpAbout {
  to {
    bottom: calc(100vh - 101px);
  }
}

@keyframes slideDownAbout {
  from {
    bottom: calc(100vh - 101px);
  }
  to {
    bottom: 100px;
  }
}

@keyframes fadeIn {
  
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.word {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards ease-out;
  animation-delay: 1s;
}

.animate-slide-up-works {
  animation: slideUpWorks 1s ease-out forwards;
}

.animate-slide-up-works-repeat {
  animation: slideUpWorksRepeat 1s ease-out forwards;
}

.animate-slide-up-about {
  animation: slideUpAbout 1s ease-out forwards;
}

.animate-slide-down-about {
  animation: slideDownAbout 1s ease-out forwards;
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1s; 
}

.animate-fade-in-index {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 2s; 
}

.no-pointer-events {
  pointer-events: none;
}
