/* ///////////////////////////////////////////////////// GENERAL STYLE ///////////////////////////////////////////////////// */
img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

body {
	font-family: "Favorit", sans-serif;
	font-size: 0.75em;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: #ffffff;
	margin: 0;
}

a {
	color: blue !important;
	cursor: pointer;
}

a:hover {
	color: blue !important;
}

p {
	margin: 0;
}

.text-bottom {
	display: flex;
	text-align: start;
	align-items: flex-end;
	justify-content: left;
}

.index h1 {
	width: 100%;
	height: 100%;
	font-size: 1em;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-weight: 100;
	text-decoration: none;
}

h1, h2 {
	width: 100%;
	font-size: 1em;
	text-align: center;
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 0;
	font-weight: 100;
	padding: 1em;
	text-decoration: underline;
	grid-column: 1 / 2
}

h3 {
	width: 100%;
	font-size: 1em;
	text-align: center;
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 0;
	font-weight: 100;
	padding: 1em;
	text-decoration: underline;
}

@font-face {
	font-family: "Favorit";
	src: url("/fonts/ABCFavoritMono-Light.woff") format("woff");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

.active {
	text-decoration: underline;
}

/* ///////////////////////////////////////////////////// INDEX STYLE ///////////////////////////////////////////////////// */
.index nav {
	height: 200px;
}

.index nav ul li::before {
	content: '';
	display: block;
	height: 1px;
	background-color: black;
	width: 0;
	position: absolute;
	margin-top: -50px;
	left: 0;
	animation: animateLines 1s ease-out forwards;
}

.index {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: 50px minmax(100px, 1fr) 200px;
}

.index ul li {
	border-top: none !important; 
}

.lottie-index {
	display: flex;
	align-items: center;
	justify-items: center;
	opacity: 0.01;
}

#mobileAnimation {
	display: none;
}

#desktopAnimation {
	display: block;
}

#desktopAnimation,
#mobileAnimation {
	max-width: 100%;
	min-width: 100%;
	object-fit: contain;
}

/* ///////////////////////////////////////////////////// LEFT SIDE ///////////////////////////////////////////////////// */
.header 
li,
li a,
li a:hover {
	color: black !important;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.index 
li,
li a,
li a:hover {
	color: black !important;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-opened::before {
	content: '';
	display: block;
	height: calc(100vh - 50px);
	width: 1px;
	background-color: black;
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opened {
	position: absolute;
	width: 50%;
	height: 100%;
	bottom: 0;
	left: 0;
}

.menu-opened ul {
	position: absolute;
	width: 100%;
	height: 100vh;
}

.menu-opened li {
	border-bottom: 1px solid black;
	height: 50px;
}

.menu-opened li:nth-child(3) {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}


.menu-opened li:nth-child(4) {
	border-bottom: 0;
}

.MenuImageContainer {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 200px);
	width: 50vw;
}

.MenuImageContainer img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	opacity: 0.01;
	z-index: -1;
}

.project-container {
	position: absolute;
	display: grid;
	height: calc(100vh - 50px);
	width: 50%;
	bottom: 0;
	left: 0;
	gap: 1px;
	grid-template-rows: 50px 1fr 49px;
	background-color: black;
}

.project-header {
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.project-header p {
	display: flex;
	align-items: center;
	padding: 1em;
}

.project-header > :nth-child(2) {
	justify-content: right;
}

.project-container::before {
	content: "";
	background-color: black;
	height: calc(100vh - 50px);
	width: 1px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.project-container-top {
	display: grid;
	height: 100%;
	grid-template-columns: 70% 30%;
	background-color: #fff;
	align-items: center;
	padding: 0 10px;
}

.project-container-top :nth-child(2) {
	text-align: right;
}

.project-container-top p {
	margin: 0;
}

.project-container-mid {
	height: 100%;
	width: 100%;
	background-color: #fff;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
}

.project-container-mid a {
	padding: 0 0 0 15px;
	text-decoration: underline;
}

.project-credits {
	padding: 1em 0 3em 0;
	grid-column: 1 / 2;
}

.project-credits li {
	display: grid;
	height: min-content;
}

.project-credits a {
	height: min-content;
	justify-content: left;
	padding-left: 1em;
	color: blue !important;

}

.project-credits a:hover {
	height: min-content;
	justify-content: left;
	color:blue !important;
}

.project-credits h3 {
	padding: 1em 0 0 1em;
}

.project-container-mid::-webkit-scrollbar {
	display: none; 
  }

.project-container-mid p {
	padding: 0 1em 1em 1em;
	grid-column: 1 / 2;
}

.project-container-bot {
	display: grid;
	background-color: #fff;
	align-items: center;
	padding-left: 1em;
	text-decoration: underline;
}

#worksButton {
	position: absolute;
	width: 100%;
	bottom: 151px;
}

#aboutButton {
	position: absolute;
	width: 100%;
	bottom: 100px;
	border-top: 1px solid black;
}

#contactButton {
	position: absolute;
	width: 100%;
	bottom: 49px;
}

#instagramButton {
	position: absolute;
	width: 100%;
	bottom: 0px;
}

.from-about {
	top: -1px;
}

.opacity {
   opacity: 1 !important;
}

#framaLink, #flourlyLink, #lavaLink {
	text-decoration: underline;
}

.disabledButton {
	pointer-events: none;
  }

/* ///////////////////////////////////////////////////// RIGHT SIDE WORKS ///////////////////////////////////////////////////// */
.projects {
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	top: -1px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr;
	opacity: 0.01;
}

.projects-nav {
	width: 100%;
	height: 51px;
	position: relative;
	box-sizing: border-box;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-start: 1;
	grid-row-end: 2;
	display: grid;
	margin: 0;
	border-bottom: 1px solid black;
	z-index: 3;
}

figure {
	margin: 0;
}

figure div {
	display: flex;
}

.projects-wrap {
	display: grid;
	width: 100%;
	height: calc(100vh - 49px);
	overflow-x: hidden;
	grid-row-start: 2;
	grid-row-end: 3;
	overflow-y: scroll;
}

.projects-wrap::-webkit-scrollbar {
	display: none;
	scrollbar-width: none;
}

figcaption {
	background-color: white;
	width: 100%;
	padding: 0;
	grid-column: 1 / -1;
	display: grid;
	align-items: center;
	min-height: 50px;
	grid-template-columns: 70% 30%;
}

figcaption > :nth-child(2) {
	text-align: right;
	padding: 0 12px 0 0;
}

figcaption > :first-child {
	padding: 0 0 0 12px;
}

.project {
	display: grid;
	width: 100%;
	height: 100%;
	background-color: black;
	border-top: 1px solid black;
	box-sizing: border-box;
	gap: 1px;
}

.grid-2x2 {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr minmax(50px, max-content);
}

.grid-3x3 {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr minmax(50px, max-content);
}

.grid-solo {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr minmax(50px, max-content);
}

.slider {
	overflow: hidden;
	height: max-content;
	grid-template-rows: 500px minmax(50px, max-content);
	grid-template-columns: 100%;
	background-color: white;
	box-sizing: border-box;
	gap: 1px;
	transform: translate3d(0, 0, 0);
}

.slide-track .slide {
	min-height: 500px;
	min-width: 500px;
}

.slide-track .slide svg {
	width: 100%;
}

.slide-track {
	display: flex;
	margin: 0 auto;
	min-height: auto;
	width: calc(500px * 6);
	-webkit-animation: moveSlideshow 60s linear infinite;
	animation: moveSlideshow 60s linear infinite;
}

@keyframes moveSlideshow {
	0% {
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-500px * 4));
		-webkit-transform: translateX(calc(-500px * 4));
	}
}
  
/* ///////////////////////////////////////////////////// PROJECT DETAILS ///////////////////////////////////////////////////// */


.flourly {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns: 80% 1fr;
	grid-template-rows: repeat(10, 1fr);
}

.lottie-logo-container {
	grid-column-start: 1; 
	grid-column-end: 2; 
	aspect-ratio: 12 / 9;
}

.slider-flourly {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	grid-column: 1 / 3;
	padding: 20px;
}
  
.slide-flourly {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider-info {
    text-align: center;
	width: 100%;
	display: none;
}

.frama {
	display: grid;
	height: 100%;
	width: 50vw;
	grid-template-columns: 80%;
	grid-template-rows: repeat(7, 1fr);
}

.lava {
	display: grid;
	height: 100%;
	width: 50vw;
	grid-template-columns: 80%;
	grid-template-rows: repeat(7, 1fr);
}

.lava-sketches {
	display: grid;
	grid-template-columns: auto 80% auto;
	gap: 10px;
	width: 50vw;
	padding-left: 0px;
	align-items: center;
	justify-items: center;
}

.w3-content {
	width: 100%;
}

.lava-img {
	display: grid;
	grid-template-columns: 2fr 1.3fr 1.3fr;
	gap: 5px;
	width: 120%;
}

.lava-img-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
	height: max-content;
	width: 110%;
}

.sketches {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-start: 1;
	grid-column-end: 3;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
}

/* ///////////////////////////////////////////////////// RIGHT SIDE ABOUT ///////////////////////////////////////////////////// */
.about {
	height: 100%;
	width: 50vw;
	display: grid;
	position: absolute;
	right: 0;
	opacity: 0.01;
	grid-template-columns: 55% 45%;
	grid-area: 1 / 1 / 2 / 3;
	grid-template-rows: 1fr;
}

.aboutMenu nav ul li:nth-child(3) {
	border-top: 1px solid black;
}

.aboutMenu::before {
	height: 100vh;
	z-index: 2;
}

.about-column-2 {
	position: relative;
	display: grid;
	box-sizing: border-box;
	overflow-y: scroll;
	width: 100%;
	height: auto;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	padding: 2% 5% 10% 5%;
}

.about-column-1 {
	position: relative;
	display: grid;
	grid-column: 1fr;
	grid-row: 33vh 33vh 33vh;
	box-sizing: border-box;
	border-right: 1px solid black;
	width: 100%;
	height: auto;
	padding: 2% 5% 2% 5%;
}

main address {
	display: flex;
	align-items: center;
	margin: 0;
	font-style: normal;
}

.container-portrait {
	width: fit-content;
	display: flex;
	position: relative;
	width: 100%;
	height: max-content;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	padding: 5% 0 5% 0;
}

.portrait,
.portrait2 {
	max-width: 90%;
	height: auto;
	margin: 0 auto;
}

.arrow {
	font-size: 1.2em;
	vertical-align: middle;
	padding-left: 10px;
  }

@media screen and (max-width: 900px) {

	/* ///////////////////////////////////////////////////// MOBILE GENERAL STYLE ///////////////////////////////////////////////////// */
	body {
		height: 100dvh;
	}

	.projects {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 50px 50px;
		height: 100%;
	}

	.menu-opened ul {
		position: relative;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		bottom: 0;
	}

	.menu-opened #aboutButton {
		position: relative;
		top: 0 !important;
		border-top: 0 !important;
	}

	.menu-opened #worksButton {
		position: relative;
		top: 0 !important;
		border-top: 0;
		border-bottom: 0;
	}

	.aboutMenu nav ul li:nth-child(3) {
		border-top: none;
	}

	.menu-opened li {
		position: relative;
		border-bottom: 0;
	}

	.MenuImageContainer {
		display: none;
	}

	.projects nav {
		display: grid;
		grid-row-start: 2;
		grid-row-end: 3;
		height: 50px;
	}

	.projects nav ul {
		height: 51px;
	}

	.menu-opened::before {
		display: none;
	}

	.index {
		height: 100dvh;
	}

	#mobileAnimation {
		display: block;
	}
	
	#desktopAnimation {
		display: none;
	}

	#worksButton {
		position: relative;
		width: 100%;
		bottom: 0;
	}
	
	#aboutButton {
		position: relative;
		width: 100%;
		bottom: 0;
		border-top: none;
	}
	
	#contactButton {
		position: relative;
		width: 100%;
		bottom: 0;
	}
	
	#instagramButton {
		position: relative;
		width: 100%;
		bottom: 0px;
	}

	/* ///////////////////////////////////////////////////// MOBILE WORKS ///////////////////////////////////////////////////// */
	.projects {
		width: 100%;
	}

	figcaption {
		padding: 10px 0 10px 0;
	}

	.projects-wrap {
		position: absolute;
		grid-row-start: 1;
		grid-row-end: 2;
		border-top: 0px;
		width: 100%;
		padding: 0;
		margin: 0;
		height: 100%;
		overflow-x: hidden;
	}

	.projects-nav {
		position: fixed;
		grid-row-start: 2;
		grid-row-end: 3;
		border-top: none;
		height: 50px !important;
		z-index: 2;
		margin: 0;
		border-bottom: none;
		border-top: 1px solid black;
	}

	.image-container {
		min-width: 10px;
		min-height: 250px;
		background-image: url("/images/jhon-boy-illustration-red-cross-tenerife-mural-aids-2-1000-by-750.webp");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.image-container-2 {
		min-width: 10px;
		min-height: 250px;
		background-image: url("/images/jhon-boy-illustration-red-cross-tenerife-mural-aids-1000-by-750.webp");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.flourly {
		display: grid;
		height: 100px;
		width: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(11, 1fr);
	}

	.lottie-logo-container {
		grid-column-start: 1; 
		grid-column-end: 2; 
		height: min-content; 
		width: 100%;
		aspect-ratio: 3 / 2
	}

	.slider-flourly {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 100%; 
		overflow-x: scroll; 
		overflow-y: hidden;
		scroll-snap-type: x mandatory; 
		-webkit-overflow-scrolling: touch; 
		scrollbar-width: none; 
		height: 80vh;
	}

	.slide-flourly {
		min-width: 100vw;
		height: max-content;
		scroll-snap-align: center;
		align-content: center;
		position: relative;
		height: 80vh;
	}
	
	.slider-flourly::-webkit-scrollbar {
		display: none;
	}

	.slider-info {
		grid-column: 1 / 2;
		display: grid;
	}
	
	.lava {
		display: grid;
		height: 100%;
		width: 100vw;
		grid-template-columns: 100%;
		grid-template-rows: repeat(7, 1fr);
	}

	.lava :nth-child(8) {
		width: 100%;
	}

	.lava :nth-child(13) {
		width: 100%;
	}

	.lava-img {
		display: grid;
		grid-template-columns: repeat(3, 2fr);
		gap: 5px;
		width: 100%;
		height: auto;
	}

	.lava-img-2 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 5px;
		height: max-content;
		width: 100%;
	}

	.lava-sketches {
		display: grid;
		grid-template-columns: 10px 1fr 10px;
		gap: 10px;
		width: 90%;
		padding-left: 4%;
	}

	.frama img {
		width: 100%;
		height: auto;
		grid-column-start: 1;
		grid-column-end: 4;
	}

	.frama p {
		grid-column-start: 1;
		grid-column-end: 4;
	}

	.flourly p {
		grid-column-start: 1;
		grid-column-end: 4;
	}

	.slider {
		scroll-snap-type: x mandatory;
		display: flex;
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll;
		overflow-x: none;
		height: max-content;
	}

	.counter {
		display: grid;
		align-self: center;
		text-align: center;
		grid-row-start: 5;
		grid-row-end: 6;
		padding: 20px 0 20px 0;
	}

	.slider::-webkit-scrollbar {
		display: none;
	}

	.slide {
		min-width: 100vw;
		scroll-snap-align: center;
		align-content: center;
		position: relative;
	}

	.sketches {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-column-start: 1;
		grid-column-end: 2;
		padding-top: 1.5vh;
		padding-bottom: 1.5vh;
	}

	.project-container {
		position: absolute;
		display: grid;
		height: 100dvh;
		width: 100%;
		z-index: 11;
		top: 0;
		grid-template-columns: 1fr;
		grid-template-rows: minmax(50px, max-content) 1fr 50px;
		overflow: hidden;
		background-color: black;
		gap: 1px;
		border-top: 0px solid black;
		border-right: 0px;
	}

	.project-container-top {
		grid-template-columns: 70% 30% !Important;
	}

	.project-container-mid {
		height: 100%;
		width: 100%;
		background-color: white;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.project-container-mid p {
		margin: 0;
		width: 95%;
	}

	.project-container::before {
		display: none;
	}

	.project-container-top {
		display: grid;
		height: 100%;
		grid-template-columns: 50% 50%;
		background-color: #ffffff;
	}

	/* ///////////////////////////////////////////////////// MOBILE ABOUT ///////////////////////////////////////////////////// */
	.about {
		height: 100%;
		width: 100%;
		display: grid;
		overflow: scroll;
		grid-template-columns: 1fr;
		grid-template-rows: max-content max-content;
	}

	.menu-opened.aboutMenu ul {
		display: grid;
		position: absolute;
		width: 100%;
		bottom: 0;
		height: 50px;
		grid-template-rows: 1fr;
	}

	.container-portrait {
		border-bottom: 1px solid black;
	}

	.portrait,
	.portrait2 {
		display: absolute;
		text-align: center;
		padding: 12%;
		grid-row-start: 4;
		grid-row-end: 5;
		width: 60%;
	}

	.about-column-1 {
		position: relative;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 33vh 33vh 33vh;
		box-sizing: border-box;
		border-right: 0px;
		width: 100%;
		padding: 30px 13px 0 13px;
		height: calc(100vh - 50px);
	}

	.about-column-2 {
		position: relative;
		display: grid;
		box-sizing: border-box;
		overflow-y: visible;
		width: 100%;
		height: max-content;
		grid-template-columns: 1fr;
		padding: 0;
		grid-template-rows: max-content max-content max-content;
		padding-bottom: 50px;
	}

	.text-bottom {
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	main address {
		display: flex;
		align-items: center;
		margin: 0;
		font-style: normal;
		justify-content: center;
	}

	.signature {
		border-top: 1px solid black;
		padding-top: 15%;
		padding-bottom: 15%;
	}

	.description {
		padding-bottom: 15%;
		padding-top: 15%;
		padding-left: 1em;
	}

	.about-column-2,
	.about-column-1 p {
		text-align: left;
	}

	.about-column-2 {
		top: 70px;
	}

	.menu-opened {
		position: absolute;
		width: 100vw;
		height: 50px;
		bottom: 0;
		z-index: 10;
		background-color: white;
		border-top: 1px solid black;
	}
	.menu-opened ul{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.menu-opened ul li{
		border-bottom: 0 !important;
		border-top: 0 !important;
	}

	.animate-fade-in {
		opacity: 1 !important;
	  }
}