---
import Layout from '../layouts/Layout.astro';
import AboutSection from '../components/AboutSection.astro'
import MenuABout from '../components/MenuAbout.astro'
---

<html>
  <head>
    <title>Works</title>
  </head>
  <body>
    <Layout title="about">
      <MenuABout />
      <AboutSection />
    </Layout>
  </body>
</html>
