---
import Menu from '../components/Menu.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import LottieAnimation from "astro-integration-lottie/Lottie.astro";

---

<BaseLayout dataPage="index">
  <header class="index" role="banner">
    <h1 id="headerText" class="word">WELCOME TO JHON BOY</h1>
    <div class="lottie-index animate-fade-in-index"> 
        <LottieAnimation
        src="/animations/jhon-boy-animation-index-mobile.json"
        class="mobileAnimation"
        />
        <LottieAnimation
        src="/animations/jhon-boy-animation-index.json"
        class="desktopAnimation"
        />
  </div>
    <Menu 
      worksLinkTextClass="word"
      aboutLinkTextClass="word"
      contactLinkTextClass="word"
      instagramLinkTextClass="word"
      worksLink="/works?from=index"
      aboutLink="/about?from=index"
    />
  </header>
</BaseLayout>
