---
import Layout from '../layouts/LayoutIndex.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Home - John Boy">
  <header class="index" role="banner">
    <h1 id="headerText" style="visibility: hidden;">WELCOME TO JHON BOY</h1>
    <div class="lottie-index">
      <dotlottie-player id="mobileAnimation" src="/animations/jhon-boy-animation-index-mobile.lottie" background="white" speed="1" style="display: none;" loop autoplay></dotlottie-player>
      <dotlottie-player id="desktopAnimation" src="/animations/jhon-boy-animation-index.lottie" background="white" speed="1" style="display: none;" loop autoplay></dotlottie-player>
    </div>
    <Menu />
  </header>
</Layout>
