---
import Layout from '../layouts/LayoutIndex.astro';
import Menu from '../components/Menu.astro';
---

<Layout>
  <header class="index" role="banner">
    <h1 id="headerText" class="word">WELCOME TO JHON BOY</h1>
    <div class="lottie-index animate-fade-in-index">
      <dotlottie-player id="mobileAnimation" src="/animations/jhon-boy-animation-index-mobile.lottie" background="white" speed="1" loop autoplay></dotlottie-player>
      <dotlottie-player id="desktopAnimation" src="/animations/jhon-boy-animation-index.lottie" background="white" speed="1" loop autoplay></dotlottie-player>
    </div>
    <Menu 
    WordClass="word"
    />
  </header>
</Layout>
