---
import Layout from '../layouts/Index.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Home - John Boy">
  <head>
    <title>Home - John Boy</title>
  </head>
  <html>
    <body>
    <header class="index">
    <h1 id="headerText" style="visibility: hidden;">WELCOME TO JHON BOY</h1>
    <div class="lottie-index">
      <dotlottie-player id="mobileAnimation" src="/animations/jhon-boy-animation-index-mobile.lottie" background="white" speed="1" style="display: none;" loop autoplay></dotlottie-player>
      <dotlottie-player id="desktopAnimation" src="/animations/jhon-boy-animation-index.lottie" background="white" speed="1" style="display: none;" loop autoplay></dotlottie-player>
    </div>
    <Menu />
  </header>
</body>
</html>

  <script type="module">
    import { updateAnimation, initiateAnimations } from '/src/scripts/index-animations.js';

    window.addEventListener('load', () => {
      initiateAnimations();
    });

    window.addEventListener('resize', () => {
      updateAnimation();
    });
  </script>
</Layout>
