---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Home - John Boy">
  <head>
    <title>Home - John Boy</title>
  </head>
  <Header />
  <script type="module">
    import { updateAnimation, introduceAnimationOnLoad, animateHeader, animateLines } from '/src/scripts/index-animations.js';

    window.addEventListener('load', () => {
      // Step 1: Animate lines
      animateLines();

      // Step 2: Show and animate header text after 1 second
      setTimeout(() => {
        animateHeader();
      }, 1000);

      // Step 3: Load and update animations after 2 seconds
      setTimeout(() => {
        introduceAnimationOnLoad();
        updateAnimation();
      }, 1500);
    });

    window.addEventListener('resize', () => {
      updateAnimation();
    });
  </script>
</Layout>
