---
import Menu from '../components/Menu.astro'
import { Image } from 'astro:assets'
import MenuAboutImage from '../images/jhon-boy-illustration-works-page-person-upside-down.svg'
---

<header class="menu-opened aboutMenu" role="banner">
    <Menu />
    <div class="MenuImageContainer" style="top: 100px">
        <Image src={MenuAboutImage} id="menuImage" alt="Illustration of a person upside down" style="display: block;" loading='eager'/>
    </div>
</header>

<script>
    import { applyAnimation } from '../scripts/pages-animations.js';

    document.addEventListener('DOMContentLoaded', () => {
        applyAnimation();
    });
</script>
