---
import Menu from '../components/Menu.astro'
import { Image } from 'astro:assets'
import MenuWorksImage from '../images/jhon-boy-illustration-works-page-person-resting.svg'
---

<header class="menu-opened" role="banner">
    <Menu />
    <div class="MenuImageContainer animate-fade-in" style="top: 50px">
        <Image src={MenuWorksImage} id="menuImage" alt="Illustration of a person resting" style="display: block;" />
    </div>
</header>

<script>
    import { applyAnimation } from '../scripts/pages-animations.js';
    
    document.addEventListener('DOMContentLoaded', () => {
        applyAnimation();
    });
</script>
