---
import Menu from '../components/Menu.astro'
// No se requieren props en este caso, pero se pueden añadir si necesitas pasar datos dinámicos.
---

<header class="menu-opened" id="mainContainer">
    <Menu />
    <div class="MenuImageContainer" style="top: 50px">
        <img src="/images/jhon-boy-illustration-works-page-person-resting.svg" id="worksImage" style="display: block;">
    </div>
</header>

<script type="module">
    import { animateWorksButton, showMenuImage, animateProjectsSection } from './src/scripts/pages-animations.js';
    
    document.addEventListener('DOMContentLoaded', () => {
        animateProjectsSection();
        animateWorksButton();
        showMenuImage();
    });
    </script>
