---
// src/components/Menu.astro
---
    <nav role="navigation">
      <ul>
        <li id="worksButton"><a href="/works">WORKS</a></li>
        <li id="aboutButton"><a href="/about">ABOUT</a></li>
        <li><a href="mailto:hello@jhonboy.com" >CONTACT</a></li>
        <li><a href="https://www.instagram.com/jhon_boy" target="_blank">INSTA</a></li>
        <li><a href="https://github.com/jhonboyy" target="_blank">GITHUB</a></li>
      </ul>
    </nav>
  