---
// src/components/MenuWorks.astro

import Menu from '../components/Menu.astro'

---

<header class="menu-opened" role="banner">
    <Menu />
    <div class="MenuImageContainer animate-fade-in" style="top: 50px">
        <img src="/images/jhon-boy-illustration-works-page-person-resting.svg" id="menuImage" style="display: block;">
    </div>
</header>

<script>
    import { applyAnimation } from '../scripts/pages-animations.js';
    
    document.addEventListener('DOMContentLoaded', () => {
        applyAnimation();
    });
    </script>
