---
// src/components/NavMenu.astro
---

<nav>
    <ul class="projects-nav">
      <li><a class="button active" id="buttonall">SEE ALL</a></li>
      <li><a class="button" id="buttonpersonal">PERSONAL</a></li>
      <li><a class="button" id="buttoncommercial">COMMERCIAL</a></li>
    </ul>
  </nav>
  