---
// src/components/ProjectsSection.astro
import NavMenu from './NavProjects.astro';
import ProjectsList from './ProjectsList.astro';

---

<section id="works-content" class="projects">
  <NavMenu />
  <ProjectsList />
</section>
