---
import ProjectsList from './ProjectsList.astro';

const { projectsSectionClass, projectsImagesClass} = Astro.props;
---

<main id="works-content" class={projectsSectionClass} role="main">
  <nav role="navigation">
    <ul class="projects-nav">
      <li><a class="button active" id="buttonall">SEE ALL</a></li>
      <li><a class="button" id="buttonpersonal">PERSONAL</a></li>
      <li><a class="button" id="buttoncommercial">COMMERCIAL</a></li>
    </ul>
  </nav>
  <ProjectsList 
  projectsImagesClass={projectsImagesClass}/>
</main>
