---
// src/components/ProjectsList.astro
import Project from './Project.astro';
import { projects } from '../data/ProjectsData.js';

const { projectsImagesClass } = Astro.props;

---

<div class="projects-wrap">
  {projects.map(project => (
    <Project 
      project={project} 
      projectsImagesClass={projectsImagesClass} 
      imagePath={project.images[0].src}
      description={project.captions.left}
    />
  ))}
</div>

<script>
const currentPage = window.location.pathname;

  localStorage.setItem('previousPage', currentPage);
  
  window.addEventListener('beforeunload', () => {
      const worksContent = document.querySelector('.projects-wrap');
      if (worksContent) {
          sessionStorage.setItem('worksContentScrollPosition', worksContent.scrollTop.toString());
      }
  });
  
  document.addEventListener('DOMContentLoaded', () => {
      const worksContent = document.querySelector('.projects-wrap');
      const scrollPosition = sessionStorage.getItem('worksContentScrollPosition');
      
      if (worksContent && scrollPosition) {
  
          requestAnimationFrame(() => {
              worksContent.scrollTo({
                  top: Number(scrollPosition),
                  behavior: 'instant' 
              });
          });
      }
  });
  </script>

