---
// src/components/ProjectsSection.astro

import NavMenu from './ProjectsNav.astro';
import ProjectsList from './ProjectsList.astro';

---

<main id="works-content" class="projects" role="main">
  <NavMenu />
  <ProjectsList />
</main>
