---
import SpeedInsights from '@vercel/speed-insights/astro';
import '../styles/styles.css';
import '../styles/animations.css';

// Importamos el componente de meta tags dinámicas
import MetaTags from '../components/MetaTags.astro';

const { dataPage } = Astro.props;
---

<!doctype html>
<html lang="en" data-page={dataPage}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <MetaTags />
  <link rel="icon" type="image/svg+xml" href="/jhon-boy-favicon.svg">
  <link rel="preload" href="/fonts/ABCFavoritMono-Light.woff" as="font" type="font/woff2" crossorigin="anonymous">
</head>
<body>
  <slot />
  <SpeedInsights />
</body>
</html>
