---
import SpeedInsights from '@vercel/speed-insights/astro';
import '../styles/styles.css';
import '../styles/animations.css';
---

<!doctype html>
<html lang="en" data-page="works">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Works by Jhon Boy - Portfolio of Illustrations & Art</title>
  <meta name="description" content="Explore the portfolio of Jhon Boy, artist, illustrator and programmer from Tenerife, Canary Islands, showcasing a diverse range of illustrations and artwork. Discover his creative projects, unique style, and artistic techniques.">
  <meta name="keywords" content="Jhon Boy, portfolio, illustrations, artwork, illustration, design, art, colours, flat, projects, Tenerife, It's Nice That, Uniqlo, Lava Circular, Wix Playground, D&AD, Canary Islands, Programming, Ace&Tate">
  <meta name="author" content="Jhon Boy">
  <link rel="canonical" href="https://jhonboy.com/works">
  <link rel="icon" type="image/svg+xml" href="/jhon-boy-favicon.svg">
  <meta property="og:title" content="Works by Jhon Boy - Portfolio of Illustrations & Art">
  <meta property="og:description" content="Explore the portfolio of Jhon Boy, artist, illustrator and programmer from Tenerife, Canary Islands, showcasing a diverse range of illustrations and artwork. Discover his creative projects, unique style, and artistic techniques.">
  <meta property="og:url" content="https://jhonboy.com/works">
  <meta property="og:image" content="https://jhonboy.com/og-image-works.jpg">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Works by Jhon Boy - Portfolio of Illustrations & Art">
  <meta name="twitter:description" content="Explore the portfolio of Jhon Boy, artist, illustrator and programmer from Tenerife, Canary Islands, showcasing a diverse range of illustrations and artwork. Discover his creative projects, unique style, and artistic techniques.">
  <meta name="twitter:image" content="https://jhonboy.com/twitter-image-works.jpg">
</head>
<body>
  <slot></slot>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
        const previousPage = localStorage.getItem('previousPage') || 'direct';
        const currentPage = document.documentElement.dataset.page;

        // Cargar y ejecutar el script de animaciones
        import('../scripts/pages-animations.js').then(animationModule => {
            animationModule.applyAnimation(previousPage, currentPage);
        });

        // Cargar y ejecutar funciones adicionales de botones
        import('../scripts/buttons-functions.js').then(buttonsModule => {
            buttonsModule.rightWorksButtons();
        });

        // Guardar la página actual en el almacenamiento local
        localStorage.setItem('previousPage', currentPage);

        // Guardar la posición de desplazamiento del elemento works-content antes de abandonar la página
        window.addEventListener('beforeunload', () => {
            const worksContent = document.querySelector('.projects-wrap');
            if (worksContent) {
                localStorage.setItem('worksContentScrollPosition', worksContent.scrollTop.toString());
            }
        });

        // Restaurar la posición de desplazamiento del elemento works-content al cargar la nueva página
        const worksContent = document.querySelector('.projects-wrap');
        const scrollPosition = localStorage.getItem('worksContentScrollPosition');
        if (worksContent && scrollPosition) {
            worksContent.scrollTop = Number(scrollPosition);
        }
    });
  </script>
<SpeedInsights />
</body>
</html>
