---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-page="about">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="stylesheet" href="/src/styles/styles.css">
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body>
  <slot></slot>
  <script type="module">
    import { applyAnimation } from '/src/scripts/pages-animations.js';
    import { adjustLayout } from '/src/scripts/about.js';

    document.addEventListener('DOMContentLoaded', () => {
        const previousPage = localStorage.getItem('previousPage') || 'direct';
        const currentPage = document.documentElement.dataset.page;
  
        applyAnimation(previousPage, currentPage, () => {

          adjustLayout();

          console.log(previousPage, currentPage);
  
          localStorage.setItem('previousPage', currentPage);
          
        });
    });

    // Initial layout adjustment on page load
    document.addEventListener('DOMContentLoaded', adjustLayout);
  </script>
</body>
</html>