---
const { title } = Astro.props;
import '../styles/styles.css'
---

<!doctype html>
<html lang="en" data-page="index">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <script type="module" src="/src/scripts/load-dotlottie.js"></script>
</head>
<body>
  <slot></slot>
  <script type="module">
    import { updateAnimation, initiateAnimations } from '/src/scripts/index-animations.js';
    import { applyAnimation } from '/src/scripts/pages-animations.js';

    window.addEventListener('load', () => {
      initiateAnimations();
    });

    window.addEventListener('resize', () => {
      updateAnimation();
    });

    document.addEventListener('DOMContentLoaded', () => {
      const previousPage = localStorage.getItem('previousPage') || 'direct';
      const currentPage = document.documentElement.dataset.page;

      applyAnimation(previousPage, currentPage);

      localStorage.setItem('previousPage', currentPage);
    });
  </script>
</body>
</html>
