---
import SpeedInsights from '@vercel/speed-insights/astro';
import '../styles/styles.css'
import '../styles/animations.css'

---

<!doctype html>
<html lang="en" data-page="about">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Jhon Boy - Illustrator & Artist</title>
  <meta name="description" content="Learn more about Jhon Boy, a talented illustrator and artist. Discover his background, artistic journey, and the unique style that defines his stunning illustrations.">
  <meta name="keywords" content="Jhon Boy, about Jhon Boy, illustrator, artist, programmer, uniqlo, ace&tate, wix, It's Nice That, D&AD, Oppo, Frama">
  <meta name="author" content="Jhon Boy">
  <link rel="canonical" href="https://jhonboy.com/about">
  <link rel="icon" type="image/svg+xml" href="/jhon-boy-favicon.svg">
  <meta property="og:title" content="About Jhon Boy - Illustrator & Artist">
  <meta property="og:description" content="Learn more about Jhon Boy, a talented illustrator and artist. Discover his background, artistic journey, and the unique style that defines his stunning illustrations.">
  <meta property="og:url" content="https://jhonboy.com/about">
  <meta property="og:image" content="https://jhonboy.com/og-image-about.jpg">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="About Jhon Boy - Illustrator & Artist">
  <meta name="twitter:description" content="Learn more about Jhon Boy, a talented illustrator and artist. Discover his background, artistic journey, and the unique style that defines his stunning illustrations.">
  <meta name="twitter:image" content="https://jhonboy.com/twitter-image-about.jpg">
</head>
<body>
  <slot></slot>
  <script>
    import { applyAnimation } from '../scripts/pages-animations.js';
    import { adjustLayout } from '../scripts/about.js';
    import { imageChange } from '../scripts/about.js';

    document.addEventListener('DOMContentLoaded', () => {
        const previousPage = localStorage.getItem('previousPage') || 'direct';
        const currentPage = document.documentElement.dataset.page;
  
        applyAnimation(previousPage, currentPage, () => {
          adjustLayout();
          console.log(previousPage, currentPage);
          localStorage.setItem('previousPage', currentPage);
        });

        adjustLayout();
        imageChange();
    });
  </script>
  <SpeedInsights />
</body>
</html>